# Data Preprocessing

This file contains the code used for preprocessing the data. First, we get get all the data (extracted using python/cpp scripts) into a single CSV file. Then we begin preprocessing the data. We begin by cleaning the data by removing redundant features (highly correlated features). We also deal with the NaN entries.
Finally, we save the modified CSV file into another CSV file - `train2.csv` for training purposes.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 

%matplotlib inline

In [ ]:
import os
os.chdir("drive/My Drive/Datasets")

In [ ]:
f_suffix = ["cookie", "fluency", "recall", "sentence"]

df1 = pd.read_csv("002-0.controlcookie.csv")
df2 = pd.read_csv("002-0.fcontrolcookie.csv")
df3 = pd.read_csv("control.csv")
df_train = df1.join(df2.set_index("File"), on = 'File', rsuffix = '_flucalc')
df_train = df_train.join(df3.set_index("File"), on = 'File')

for suf in f_suffix:
  df1 = pd.read_csv("001-0.dem" + suf + ".csv")
  df2 = pd.read_csv("001-0.fdem"+ suf + ".csv")
  df4 = pd.read_csv(suf+".csv")
  df3 = df1.join(df2.set_index("File"), on = 'File', rsuffix = '_flucalc')
  df3 = df3.join(df4.set_index("File"), on = 'File')
  df_train = pd.concat([df_train, df3])

In [ ]:
df_train

          File Language Corpus Code  Age  ... Weighted_SLD     N     V    Q    S
0    002-0.cha      eng   Pitt  PAR  58;  ...        0.568  19.0  19.0    8   15
1    002-1.cha      eng   Pitt  PAR  59;  ...        0.000  17.0  16.0    8   16
2    002-2.cha      eng   Pitt  PAR  60;  ...        0.513   NaN   NaN  NaN  NaN
3    002-3.cha      eng   Pitt  PAR  61;  ...        0.000  18.0  28.0   14   22
4    006-2.cha      eng   Pitt  PAR  72;  ...        1.770  18.0  18.0    8   13
..         ...      ...    ...  ...  ...  ...          ...   ...   ...  ...  ...
234  703-0.cha      eng   Pitt  PAR  73;  ...        0.000  17.0  26.0    9   15
235  704-0.cha      eng   Pitt  PAR  50;  ...        1.533   NaN   NaN  NaN  NaN
236  705-0.cha      eng   Pitt  PAR  71;  ...        2.326  14.0  13.0   13   15
237  707-0.cha      eng   Pitt  PAR  74;  ...        3.333  17.0  14.0    4   13
238  711-0.cha      eng   Pitt  PAR  77;  ...        0.000  14.0  12.0    0    6

[1276 rows x 108 columns]

In [ ]:
df_train.to_csv('train1.csv', index= False)

In [ ]:
df = pd.read_csv("train1.csv")

In [ ]:
df['S'].isna().sum()

229

In [ ]:
# 58 of the 108 columns were dropped - 
# 1. Manually judging which features would not be helpful or which have been already covered in some other column and hence are redundant.
# 2. Using correlation matrix, to figure out the correlation between 2 columns

cols = ['File', 'Language',	'Corpus',	'Code', 'Race',	'SES', 'Role',	'Education',	'Custom_field', 'Language_flucalc', 'Corpus_flucalc', 'Code_flucalc', 'Age(Month)', 'Sex_flucalc', 'Group_flucalc', 'Race_flucalc', 'SES_flucalc', 'Role_flucalc', 'Education_flucalc', 'Custom_field_flucalc', '#_Prolongation', '#_Broken_word', '#_Block', '#_PWR', '#_PWR-RU', '#_WWR', '#_mono-WWR', '#_WWR-RU', '#_mono-WWR-RU', '#_Phonological_fragment', '#_Phrase_repetitions', '#_Word_revisions', '#_Phrase_revisions', '#_Pauses', '#_Filled_pauses', '#_TD', '#_SLD', '#_Total_(SLD+TD)', '%_Total_(SLD+TD)']
cols += ['MLU_Words', 'Total_Utts', 'open_closed', '#open-class', '#closed-class', 'FREQ_types', 'FREQ_tokens', '%_SLD', 'Weighted_SLD', '%_WWR', '%_mono-WWR', '%_Block', '%_PWR', '%_PWR-RU', '%_WWR-RU', '%_mono-WWR-RU', '%_Broken_word']
cols += ['words_min', 'mor_Words']
df1 = df.drop(columns = cols)

In [ ]:
print(df1.columns)

Index(['Age', 'Sex', 'Group', 'Duration_(sec)', 'MLU_Utts', 'MLU_Morphemes',
       'FREQ_TTR', 'Words_Min', 'Verbs_Utt', '%_Word_Errors', 'Utt_Errors',
       'density', '%_Nouns', '%_Plurals', '%_Verbs', '%_Aux', '%_Mod', '%_3S',
       '%_13S', '%_PAST', '%_PASTP', '%_PRESP', '%_prep', '%_adj', '%_adv',
       '%_conj', '%_det', '%_pro', 'noun_verb', 'retracing', 'repetition',
       'mor_Utts', 'mor_syllables', 'syllables_min', '%_Prolongation',
       'Mean_RU', '%_Phonological_fragment', '%_Phrase_repetitions',
       '%_Word_revisions', '%_Phrase_revisions', '%_Pauses', '%_Filled_pauses',
       '%_TD', 'SLD_Ratio', 'Content_words_ratio', 'Function_words_ratio', 'N',
       'V', 'Q', 'S'],
      dtype='object')

In [ ]:
# Correlation matrix.

mask = np.zeros_like(df1.corr(), dtype=np.bool)
mask[np.triu_indices_from(mask)] = True
sns.set_style('whitegrid')
plt.subplots(figsize = (15,12))
sns.heatmap(df1.corr(), 
            annot=False,
            cmap = 'RdBu',
            vmin = -1,
            vmax = 1,
            linewidths=.9, 
            linecolor='white',
            fmt='.2g',
            center = 0,
            square=True)

In [ ]:
corr = df1.corr()
for i in list(corr.columns):
    for j in list(corr.columns):
        if abs(corr.loc[i,j])>0.8 and corr.loc[i,j] != 1:
            print(i, '\t',j ,'\t', corr.loc[i,j])

MLU_Morphemes 	 Verbs_Utt 	 0.9179189852113331
Words_Min 	 syllables_min 	 0.9122940089968474
Verbs_Utt 	 MLU_Morphemes 	 0.9179189852113331
density 	 %_Nouns 	 -0.8387561684910999
%_Nouns 	 density 	 -0.8387561684910999
syllables_min 	 Words_Min 	 0.9122940089968474

In [ ]:
df1

      Age     Sex       Group  ...          V          Q          S
0     58;  female     Control  ...  19.000000   8.000000  15.000000
1     59;  female     Control  ...  16.000000   8.000000  16.000000
2     60;  female     Control  ...  17.732484   9.866242  14.993631
3     61;  female     Control  ...  28.000000  14.000000  22.000000
4     72;    male     Control  ...  18.000000   8.000000  13.000000
...   ...     ...         ...  ...        ...        ...        ...
1270  65;  female  ProbableAD  ...  16.000000   9.000000  10.000000
1271  73;  female  ProbableAD  ...  26.000000   9.000000  15.000000
1273  71;  female  ProbableAD  ...  13.000000  13.000000  15.000000
1274  74;  female  PossibleAD  ...  14.000000   4.000000  13.000000
1275  77;    male  PossibleAD  ...  12.000000   0.000000   6.000000

[1267 rows x 50 columns]

In [ ]:
# Certain rows in columns Q and S have a string written, starting with colon. We decided to delete those rows altogether, since Q and S
# are important features in making predictions

rows= []
df1['S'].value_counts()
for i in range(len(df1)):
  if str(df1.loc[i]['S'])[0] == ':':
    rows.append(i)
df1.drop(rows, axis = 0, inplace = True)

In [ ]:
df1['S'] = df1['S'].astype('float64')
df1['Q'] = df1['Q'].astype('float64')

In [ ]:
# Need to replace the NaNs in columns with the mean corresponding to their group

columns = ['Words_Min','noun_verb','syllables_min','SLD_Ratio','Function_words_ratio','N','V','S','Q']    # these columns have NaNs
for col in columns:
  for grp in ['Control', 'MCI', 'Memory', 'PossibleAD', 'ProbableAD', 'Vascular']:
    df1.loc[df1['Group'] == grp, col] = df1.loc[df1['Group'] == grp, col].replace(np.nan,df1.groupby('Group')[col].mean()[grp])

In [ ]:
print(df1.isna().sum().sum())        # Total number of NaN values in dataset currently

0

In [ ]:
# There are too many similar types of groups at present. We wish to combine the similar ones together.

df1.loc[df1["Group"] == "possibleAD", "Group"] = 'PossibleAD'
df1.loc[df1["Group"] == "Probable", "Group"] = 'ProbableAD'
df1.drop(df1[df1["Group"] == "Other"].index, inplace=True)
df1.drop(df1[df1["Group"] == "Dementia"].index, inplace=True)
df1.drop(df1[df1["Group"] == "."].index, inplace=True)

In [ ]:
# The age column at present, has a semi colon beside each age number. We need to remove the semicolon and convert it to 'int' 
# data type before feeding it to our model

for i in df1.index:
  try:
    df1['Age'][i] = str(df1.loc[i, 'Age'])[:2]
  except:
    pass

In [ ]:
df1['Age'] = df1['Age'].replace('.', np.nan)    
# Replacing the . entries with NaN, allows us to calculate the mean of the column. Later, we replace those NaN entries with the
# mean of the column.

df1['Age'] = df1['Age'].astype('float64')
df1['Age'] = df1['Age'].replace(np.nan, int(df1['Age'].mean()))

In [ ]:
# Encode Sex as - Male - 1 and Female - 0. We also replace some of the '.' entries in the column with the mode (Female)

df1['Sex'] = df1['Sex'].replace('.', 0)
df1['Sex'] = df1['Sex'].replace('female', 0)
df1['Sex'] = df1['Sex'].replace('male', 1)

In [ ]:
# Checking if any other column has a wierd character, that needs to be removed.
for col in df1.columns:
  print(col)
  print(df1[col].value_counts())
  print()

Age
69.0    205
73.0     60
78.0     57
64.0     54
65.0     51
75.0     50
71.0     46
68.0     43
67.0     42
66.0     40
70.0     40
74.0     39
77.0     38
79.0     38
72.0     38
63.0     34
57.0     32
62.0     27
59.0     25
80.0     25
85.0     25
56.0     23
83.0     23
61.0     21
58.0     19
81.0     18
76.0     18
84.0     17
60.0     17
87.0     11
55.0     11
50.0     10
51.0      8
88.0      8
86.0      8
89.0      7
54.0      7
82.0      7
52.0      6
49.0      5
53.0      5
90.0      4
47.0      2
48.0      2
46.0      1
Name: Age, dtype: int64

Sex
0    762
1    505
Name: Sex, dtype: int64

Group
ProbableAD    762
Control       243
MCI           162
PossibleAD     68
Vascular       20
Memory         12
Name: Group, dtype: int64

Duration_(sec)
36     34
19     30
21     27
24     27
22     26
       ..
125     1
109     1
103     1
100     1
0       1
Name: Duration_(sec), Length: 136, dtype: int64

MLU_Utts
6     247
7     106
9      91
8      89
5      89
11     56
4      55
10     54
13     44
3      41
12     41
15     36
14     35
2      32
16     29
17     22
19     19
1      19
21     19
25     14
18     13
22     13
27     10
23     10
32      9
20      9
24      7
33      6
26      6
28      5
29      5
34      5
35      5
38      3
30      3
31      3
39      3
42      3
41      2
45      2
49      1
53      1
52      1
54      1
40      1
36      1
56      1
Name: MLU_Utts, dtype: int64

MLU_Morphemes
7.000     22
6.500     21
6.000     21
7.667     18
1.000     17
          ..
2.467      1
13.240     1
1.360      1
1.390      1
1.417      1
Name: MLU_Morphemes, Length: 600, dtype: int64

FREQ_TTR
1.000    61
0.667    25
0.600    17
0.800    15
0.714    14
         ..
0.914     1
0.709     1
0.754     1
0.657     1
0.432     1
Name: FREQ_TTR, Length: 400, dtype: int64

Words_Min
120.000    18
60.000     15
90.000     14
100.000     8
92.727      7
           ..
55.500      1
106.071     1
21.750      1
112.857     1
37.826      1
Name: Words_Min, Length: 929, dtype: int64

Verbs_Utt
1.000    154
0.000     64
1.167     60
1.333     58
1.500     46
        ...
0.238      1
1.133      1
1.654      1
0.294      1
2.091      1
Name: Verbs_Utt, Length: 249, dtype: int64

%_Word_Errors
0.000    1062
2.273       6
1.587       5
3.333       4
2.041       4
         ...
1.316       1
3.774       1
5.128       1
2.105       1
3.797       1
Name: %_Word_Errors, Length: 131, dtype: int64

Utt_Errors
0     957
1     127
2      78
3      40
4      20
5      14
6      11
7       6
8       5
9       4
15      1
13      1
12      1
11      1
10      1
Name: Utt_Errors, dtype: int64

density
0.400    31
0.333    26
0.000    25
0.500    22
0.429    19
         ..
0.485     1
0.297     1
0.259     1
0.189     1
0.102     1
Name: density, Length: 316, dtype: int64

%_Nouns
25.000    31
20.000    22
28.571    21
22.222    18
33.333    16
          ..
15.663     1
23.011     1
18.557     1
34.783     1
22.807     1
Name: %_Nouns, Length: 617, dtype: int64

%_Plurals
0.000     387
16.667     54
11.111     39
20.000     38
10.000     38
         ...
27.907      1
16.923      1
22.857      1
34.146      1
21.622      1
Name: %_Plurals, Length: 170, dtype: int64

%_Verbs
0.000     53
16.667    40
20.000    36
18.182    32
14.286    27
          ..
2.439      1
12.308     1
15.054     1
16.935     1
13.913     1
Name: %_Verbs, Length: 436, dtype: int64

%_Aux
0.000     441
5.263      13
10.000     12
9.091      11
5.556       9
         ...
4.390       1
2.667       1
2.206       1
5.303       1
5.172       1
Name: %_Aux, Length: 395, dtype: int64

%_Mod
0.000    703
4.762     12
2.273     10
3.125     10
2.632      8
        ...
0.752      1
2.151      1
0.510      1
3.390      1
0.862      1
Name: %_Mod, Length: 241, dtype: int64

%_3S
0.000      406
50.000      83
100.000     37
33.333      34
66.667      29
          ...
56.410       1
90.476       1
5.556        1
42.105       1
91.667       1
Name: %_3S, Length: 165, dtype: int64

%_13S
0.000     932
25.000     28
16.667     25
14.286     23
20.000     20
         ...
35.294      1
35.714      1
3.846       1
13.793      1
34.615      1
Name: %_13S, Length: 80, dtype: int64

%_PAST
0.000      619
50.000      61
100.000     37
33.333      29
16.667      24
          ...
56.250       1
35.714       1
9.524        1
9.302        1
17.647       1
Name: %_PAST, Length: 132, dtype: int64

%_PASTP
0.000     815
12.500     37
16.667     30
14.286     30
10.000     28
         ...
23.529      1
4.651       1
26.316      1
17.391      1
3.448       1
Name: %_PASTP, Length: 81, dtype: int64

%_PRESP
0.000      478
50.000      79
33.333      32
66.667      31
25.000      31
          ...
39.623       1
125.000      1
22.727       1
27.273       1
24.000       1
Name: %_PRESP, Length: 154, dtype: int64

%_prep
0.000     231
9.091      28
10.000     23
7.692      21
8.333      17
         ...
5.590       1
7.303       1
7.447       1
10.309      1
10.687      1
Name: %_prep, Length: 394, dtype: int64

%_adj
0.000    308
5.882     17
6.250     17
4.545     16
5.263     15
        ...
4.286      1
2.994      1
1.538      1
3.540      1
5.042      1
Name: %_adj, Length: 359, dtype: int64

%_adv
0.000    339
5.263     17
4.545     15
5.882     15
4.762     13
        ...
3.817      1
2.985      1
6.993      1
0.917      1
6.195      1
Name: %_adv, Length: 360, dtype: int64

%_conj
0.000    815
2.326     10
1.818      9
2.222      8
2.128      8
        ...
0.962      1
1.130      1
4.412      1
3.196      1
1.504      1
Name: %_conj, Length: 221, dtype: int64

%_det
0.000     165
16.667     34
14.286     24
20.000     17
11.765     17
         ...
13.559      1
1.587       1
19.737      1
7.071       1
17.742      1
Name: %_det, Length: 485, dtype: int64

%_pro
0.000     199
7.692      21
9.091      20
16.667     15
11.111     14
         ...
4.065       1
5.310       1
10.440      1
7.627       1
15.625      1
Name: %_pro, Length: 467, dtype: int64

noun_verb
1.000000    92
2.000000    48
2.710217    45
1.500000    44
1.667000    36
            ..
2.538000     1
4.600000     1
0.722000     1
1.421000     1
6.833000     1
Name: noun_verb, Length: 323, dtype: int64

retracing
0     658
1     303
2     143
3      71
4      48
5      15
6      10
7       7
10      4
9       3
17      1
15      1
13      1
11      1
8       1
Name: retracing, dtype: int64

repetition
0     804
1     261
2      95
3      38
4      29
5      14
6       9
8       4
7       4
9       3
13      2
12      2
14      1
11      1
Name: repetition, dtype: int64

mor_Utts
8.0     83
7.0     80
9.0     80
12.0    77
10.0    70
        ..
59.0     1
44.0     1
56.0     1
65.0     1
69.0     1
Name: mor_Utts, Length: 61, dtype: int64

mor_syllables
77.0     20
86.0     19
68.0     17
61.0     17
52.0     17
         ..
225.0     1
239.0     1
197.0     1
231.0     1
283.0     1
Name: mor_syllables, Length: 248, dtype: int64

syllables_min
120.000    11
180.000     7
105.000     6
150.000     6
132.000     5
           ..
149.091     1
65.085      1
89.167      1
153.818     1
210.000     1
Name: syllables_min, Length: 1082, dtype: int64

%_Prolongation
0.000    1160
1.124       3
0.885       3
1.961       3
1.000       2
         ...
2.339       1
0.855       1
1.031       1
2.703       1
1.471       1
Name: %_Prolongation, Length: 88, dtype: int64

Mean_RU
0.000    726
1.000    466
2.000     19
1.500     13
1.333      9
1.250      6
3.000      4
1.667      3
1.200      3
1.125      3
1.375      2
1.167      2
1.750      1
1.077      1
2.500      1
1.538      1
5.000      1
1.091      1
1.211      1
1.400      1
1.053      1
1.182      1
1.071      1
Name: Mean_RU, dtype: int64

%_Phonological_fragment
0.000     1204
0.870        3
1.020        2
1.149        2
0.826        2
1.504        2
4.000        2
0.676        1
3.704        1
0.588        1
1.163        1
3.650        1
3.631        1
1.587        1
2.586        1
1.064        1
5.882        1
3.017        1
1.449        1
4.255        1
1.754        1
2.174        1
0.370        1
7.273        1
1.227        1
1.299        1
9.091        1
2.500        1
0.746        1
1.099        1
2.469        1
2.010        1
2.062        1
1.648        1
1.667        1
0.893        1
1.563        1
0.971        1
1.124        1
12.048       1
1.036        1
1.806        1
0.847        1
0.709        1
0.685        1
2.143        1
0.725        1
2.041        1
1.852        1
1.600        1
0.602        1
3.371        1
1.515        1
0.658        1
1.674        1
0.538        1
4.895        1
Name: %_Phonological_fragment, dtype: int64

%_Phrase_repetitions
0.000    1042
1.124       4
1.316       4
0.510       3
1.000       3
         ...
2.721       1
0.575       1
2.469       1
0.641       1
0.741       1
Name: %_Phrase_repetitions, Length: 163, dtype: int64

%_Word_revisions
0.000    782
1.235      8
1.639      7
1.538      7
0.952      7
        ...
0.858      1
2.308      1
0.633      1
0.685      1
1.630      1
Name: %_Word_revisions, Length: 264, dtype: int64

%_Phrase_revisions
0.000    778
1.149      9
1.020      8
1.471      7
1.887      6
        ...
0.370      1
1.299      1
0.565      1
2.206      1
0.246      1
Name: %_Phrase_revisions, Length: 266, dtype: int64

%_Pauses
0.000    571
1.923     11
1.299      8
2.222      7
2.041      7
        ...
6.838      1
0.769      1
5.357      1
9.375      1
8.824      1
Name: %_Pauses, Length: 369, dtype: int64

%_Filled_pauses
0.000    1255
0.862       1
2.041       1
0.279       1
1.887       1
2.257       1
0.725       1
3.704       1
1.163       1
0.752       1
2.778       1
1.149       1
0.370       1
Name: %_Filled_pauses, dtype: int64

%_TD
0.000    246
1.724      9
1.351      9
2.128      8
3.226      8
        ...
2.963      1
6.024      1
2.797      1
8.122      1
3.067      1
Name: %_TD, Length: 491, dtype: int64

SLD_Ratio
0.000000    531
0.223544     96
0.500000     80
0.333000     78
0.250000     71
           ...
0.030000      1
0.214000      1
0.833000      1
0.545000      1
0.571000      1
Name: SLD_Ratio, Length: 65, dtype: int64

Content_words_ratio
0.000    1082
0.029      12
0.037      10
0.027       6
0.043       6
         ...
0.039       1
0.006       1
0.013       1
0.154       1
0.111       1
Name: Content_words_ratio, Length: 65, dtype: int64

Function_words_ratio
0.000000    829
0.014000     20
0.026000     19
0.029000     16
0.020000     15
           ...
0.006000      1
0.085000      1
0.011491      1
0.081000      1
0.003000      1
Name: Function_words_ratio, Length: 97, dtype: int64

N
16.000000    155
15.000000    138
17.000000    118
14.000000    116
14.104135    105
18.000000     99
16.815287     86
13.000000     69
12.000000     61
19.000000     55
11.000000     37
20.000000     35
9.000000      30
10.000000     24
13.842857     22
4.000000      20
7.000000      15
5.000000      13
8.000000      13
21.000000     12
6.000000      11
14.267857     10
2.000000       8
22.000000      6
3.000000       5
16.200000      2
13.944444      2
Name: N, dtype: int64

V
15.546708    105
16.000000     90
19.000000     88
18.000000     86
17.732484     86
17.000000     82
15.000000     82
14.000000     71
20.000000     61
21.000000     54
22.000000     49
13.000000     49
12.000000     35
10.000000     27
11.000000     25
23.000000     25
7.000000      25
14.735714     22
24.000000     22
8.000000      21
6.000000      17
9.000000      16
3.000000      14
25.000000     13
0.000000      12
26.000000     12
1.000000      12
4.000000      11
5.000000      10
27.000000     10
2.000000      10
14.535714     10
28.000000      6
29.000000      3
17.600000      2
30.000000      2
17.277778      2
Name: V, dtype: int64

Q
8.000000     190
13.000000    127
0.000000     112
9.000000     112
14.000000    108
9.434916     105
11.000000     92
9.866242      86
4.000000      75
15.000000     68
12.000000     41
10.000000     27
7.000000      23
6.450000      22
16.000000     17
3.000000      17
5.000000      15
9.500000      10
6.000000       5
17.000000      5
1.000000       4
11.500000      2
8.500000       2
19.000000      1
18.000000      1
Name: Q, dtype: int64

S
12.427259    105
14.993631     86
15.000000     75
13.000000     74
16.000000     65
11.000000     62
14.000000     56
17.000000     53
3.000000      47
9.000000      47
19.000000     47
18.000000     46
12.000000     45
4.000000      44
8.000000      44
7.000000      43
6.000000      40
10.000000     38
20.000000     33
21.000000     31
5.000000      26
22.000000     25
12.600000     22
2.000000      17
23.000000     15
0.000000      13
25.000000     12
24.000000     12
26.000000     10
11.142857     10
1.000000       8
27.000000      4
28.000000      4
29.000000      3
15.900000      2
13.666667      2
31.000000      1
Name: S, dtype: int64

In [ ]:
# Finally storing the preprocessed data in another csv file, so that we can directly load that file when required to train the model
df1.to_csv('train2.csv', index = False)